{% extends 'base.html' %}
{% block content %}
<b>Post id:</b> {{ post.id }}
<br>
<b>Post author:</b> {{ post.author }}
<br>
<b>Post title:</b> {{ post.topic }}
<br>
<b>Post body:</b> {{ post.body  }}
<br>
<b>Post pub date:</b> {{ post.pub_date }}
<br>
<b>Post likes:</b> {{ post.likes.count }}
<br>
<br>

{% if not is_like %}
    <button class="btn btn-success"   onclick=window.location.href='{% url "blog:like" post.id %}'>поставить лайк</button>
{% else %}
    <button class="btn btn-danger" onclick=window.location.href='{% url "blog:like" post.id %}'>Убрать лайк</button>
{% endif %}
<br>
<br>
<a href="{% url 'blog:post_update' post.id %}">Редактировать пост</a> |
<a href="{% url 'blog:post_delete' post.id %}">Удалить пост</a>

{% endblock content%}